<!DOCTYPE html>
<html>
<head>
    <title>Heart Disease Predictor</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Heart Disease Predictor</h1>
    <form method="POST" action="/">
        <label for="Age">Age:</label>
        <input type="number" step="0.1" name="Age" required><br><br>

        <label for="Cholesterol">Cholesterol:</label>
        <input type="number" step="0.1" name="Cholesterol" required><br><br>

        <label for="RestingBP">Resting Blood Pressure:</label>
        <input type="number" step="0.1" name="RestingBP" required><br><br>

        <label for="FastingBS">Fasting Blood Sugar:</label>
        <input type="number" step="0.1" name="FastingBS" required><br><br>

        <label for="MaxHR">Maximum Heart Rate:</label>
        <input type="number" step="0.1" name="MaxHR" required><br><br>

        <label for="Oldpeak">Oldpeak:</label>
        <input type="number" step="0.1" name="Oldpeak" required><br><br>



        <label for="Sex">Sex:</label>
        <select name="Sex" required>
            <option value="0">Female</option>
            <option value="1">Male</option>
        </select><br><br>

        <label for="ChestPainType">Chest Pain Type:</label>
        <select name="ChestPainType" required>
            <option value="0">ASY</option>
            <option value="1">NAP</option>
            <option value="2">ATA</option>
            <option value="3">TA</option>
        </select><br><br>

        <label for="RestingECG">Resting ECG:</label>
        <select name="RestingECG" required>
            <option value="0">Normal</option>
            <option value="1">ST</option>
            <option value="2">LVH</option>
        </select><br><br>

        <label for="ExerciseAngina">Exercise Angina:</label>
        <select name="ExerciseAngina" required>
            <option value="0">No</option>
            <option value="1">yes</option>
        </select><br><br>

        <label for="ST_Slope">ST_Slope:</label>
        <select name="ST_Slope" required>
            <option value="0">Up</option>
            <option value="1">Flat</option>
            <option value="2">Down</option>
        </select><br><br>

        <button type="submit">Predict</button>
    </form>

    {% if result %}
        <h2>Result: {{ result }}</h2>
    {% endif %}
</body>
</html>
